body {
  background-color: #dddddd;
  color: rgb(55, 55, 55);
  font-family: 'Roboto';
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: rgb(55, 55, 55);
}

a:hover, a:focus {
  color: rgb(190, 1, 1);
}
