.header-title::before {
  content: '';
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: black;
  margin-right: 10px;
}

.header-title {
  margin: 0;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
}