.loading, .data-error {
  margin-top: 25px;
  margin-left: 25px;
}

.users-table {
  width: 90%;
  margin: 25px auto;
  background-color: var(--dirty-white);
  border-collapse: collapse;
  border-radius: 8px;
}
